{% extends 'base.html' %}

{% block title %}
투표리스트
{% endblock %}
{% block content %}
    <form action="{%url 'complete'%}" method="POST">
        {% csrf_token %}
        <table>
            {%for profile in picks.all%}
                <td>
                <img src="{{profile.image.url}}" height=100><br>
                {{profile.name}}<br>
                {{profile.management}}<br>
                <input type="radio" value = {{profile.team}} name = "pick"><br>
                </td>
            {%endfor%}
        </table>
        <input type="submit" value="투표하기" >
    </form>
{% endblock %}
