{% extends 'base.html' %}

{% block title %}
투표리스트
{% endblock %}
{% block content %}
    <form action="{%url 'complete'%}" method="POST">
        {% csrf_token %}
        <table>
            {%for profile in picks.all%}
                <td>
                <img src="{{profile.image.url}}" height=100 style="margin-top: 3%;"><br>
                <span style="color:#66a0eb;font-weight: bold; text-shadow:   -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;">{{profile.name}}</span><br>
                {{profile.management}}<br>
                <input type="radio" value = {{profile.team}} name = "pick"><br>
                </td>
            {%endfor%}
        </table>
        <input type="submit" value="투표하기" style="margin-left: calc(100%/2.5); color: #074ca7; font-weight: bold;border: 1px #074ca7 solid;">
    </form>
{% endblock %}
