{% extends 'base.html' %}

{% block title %}
로그인
{% endblock %}

{% block content %}
<form class="mt-5 mw-5 center-align" method="POST" action="{% url 'login'%}">
  {% csrf_token %}
  <h2 class="text-center">로그인</h2>
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  <div class="form-group">
    <label for="username">사용자 이름</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="실명을 입력해주세요">
  </div>
  <div class="form-group">
    <label for="password">비밀번호</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요">
  </div>
  <div class="button mt-5">
    <button type="submit" class="hover-button">
      <span>로그인</span>
    </button>
  </div>
</form>
{% endblock %}
